{% extends 'base.html.twig' %}

{% block title %}Booking | l'evenement{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('new_events') }}
{% endblock %}
{% block body %}
    <div class="show_events">
        <h1>{{ event.nameEvent }}</h1>
        <hr>
        <p class="date_time_show">{{ event.dateEvent ? event.dateEvent|date('d-m-Y') : '' }} | {{ event.timeEvent ? event.timeEvent|date('H:i') : '' }} | {{ event.placeEvent }}</p>
        <p class="date_time_show">Entraîneure : JOhn JOe</p>
        <p class="levl_n">Niveau : {{ event.levelEvent }}</p>
        <p class="descript">{{ event.description }}</p>

        <div class="participation">
        <Button class="but_par">
            <a href="" class="link">Je participe</a> <br><br>
            <a href="" class="link">Je ne participe plus </a>
        </Button>
            <figcaption>
                <figure>
                    0 /{{ event.participantLimit }}
                    <img src="{{ asset("build/images/DRAPEAUJ.svg")}}" alt="Logo">
                </figure>
            </figcaption>
        </div>

        <h2>Commentaire :</h2>
        <hr>

    {{ include('event/_delete_form.html.twig') }}
        <button class="return"><a href="{{ path('event_index') }}"><img src="{{ asset("build/images/return.242530f7.svg")}}" alt="retour" class="icons"></a></button>
        <button class="edit"><a href="{{ path('event_edit', {'id': event.id}) }}"><img src="{{ asset("build/images/btn-modif.ca9f6a1d.svg")}}" alt="edit" class="icons"></a></button>

    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('new_events') }}
{% endblock %}
