{% extends 'base.html.twig' %}

{% block title %}Booking | l'evenement{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('new_events') }}
{% endblock %}
{% block body %}
    <div class="show_events">
        <h1>{{ event.nameEvent }}</h1>
        <hr>
        <p class="date_time_show">{{ event.dateEvent ? event.dateEvent|date('d-m-Y') : '' }} | {{ event.timeEvent ? event.timeEvent|date('H:i') : '' }} | {{ event.placeEvent }}</p>
        <p class="date_time_show">Entraîneure : JOhn JOe</p>
        <p class="levl_n">Niveau : {{ event.levelEvent }}</p>
        <p class="descript">{{ event.description }}</p>

        <div class="participation">

            <a href="{{ path('event_participe', {'id' : event.id}) }}" class="btn-link js-participe">
                {% if app.user and event.isParticipationByUser(app.user) %}
                    <i class="fas participation">Je participe</i>
                {% else %}
                    <i class="far participation">Je ne participe pas</i>
                {% endif %}
                <span class="js-participationLikes;">{{ event.participationLikes | length }}/{{ event.participantLimit }}</span>
                <span class="js-label"><img src="{{ asset("build/images/DRAPEAUV.2abb850b.svg")}}" alt="drapeau"></span>
            </a>

    {{ include('event/_delete_form.html.twig') }}
        <button class="return"><a href="{{ path('event_index') }}"><img src="{{ asset("build/images/return.242530f7.svg")}}" alt="retour" class="icons"></a></button>
        <button class="edit"><a href="{{ path('event_edit', {'id': event.id}) }}"><img src="{{ asset("build/images/btn-modif.ca9f6a1d.svg")}}" alt="edit" class="icons"></a></button>

    </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function onclickBtnParticipe(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelectorAll('span.js-participationLikes');

            axios.get(url).then(function (response) {
                spanCount.textContent = response.data.participationLikes;
            })
        }

        document.querySelectorAll('a.js-participe').forEach(function (link) {
            link.addEventListener('click', onclickBtnParticipe);
        })
    </script>
{% endblock %}
