{{ form_start(registrationForm3, { 'attr': { 'class': 'registration-form' }}) }}

{# displays the images showing the registration progress #}
<div class="step-check">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="first-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="second-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="third-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-check.svg') }}" id="fourth-check" alt="">
</div>

{{ form_widget(registrationForm3.nameClub, {'attr':{ "placeholder":"Club" }}) }}
{{ form_widget(registrationForm3.sport, {'attr':{ "placeholder":"Sport" }}) }}
{{ form_widget(registrationForm3.cityClub, {'attr':{ "placeholder":"Ville" }}) }}

<button class="continue-btn">Continuer</button>
{{ form_end(registrationForm3) }}

