
<div class="step-check">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="first-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="second-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-check.svg') }}" id="third-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-check.svg') }}" id="fourth-check" alt="">
</div>
<section class="container">
    <section id="auth-buttons">
        <button onclick='location.href="{{path('app_info_register_solo')}}"'  class="auth-button">Sportif</button>
        <button onclick='location.href="{{path('app_info_register')}}"' class="auth-button">Club</button>
    </section>
</section>

