{{ form_start(registrationForm2, { 'attr': { 'class': 'registration-form' }}) }}

<div class="step-check">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="first-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-checked.svg') }}" id="second-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-check.svg') }}" id="third-check" alt="">
    <img src="{{ asset('build/images/separator-step-check.svg') }}" alt="">
    <img src="{{ asset('build/images/step-check.svg') }}" id="fourth-check" alt="">
</div>

{{ form_widget(registrationForm2.Sportif) }}
{{ form_widget(registrationForm2.Club) }}

<button class="continue-btn">Continuer</button>
{{ form_end(registrationForm2) }}
