{{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}
    <div class="form_group">
        <label for="{{ form.title.vars.id }}"></label>
        <input type="text" class="new" id= "{{ form.title.vars.id }}" title="{{ form.title.vars.full_name }}" value="{{ form.title.vars.value }}" placeholder="Nom de l'évenement"/>
        <hr>
        {% do form.title.setRendered %}
        {{ form_label(form.beginAt, ' ') }}
        {{ form_widget(form.beginAt) }}
        {{ form_label(form.endAt, ' ') }}
        {{ form_widget(form.endAt) }}
    </div>

    <p>Description</p>

<select name="Niveau" id="niveau" >
    <option value=" ">placeholder="Niveau</option>
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
</select>





    <button class="btn">{{ button_label|default('') }}</button>
<div class="alert alert-danger">{{ form_rest(form) }}</div>
{{ form_end(form) }}
