{% extends 'base.html.twig' %}

{% block title %}ProfilClub index{% endblock %}

{% block body %}
    <h1>ProfilClub index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameClub</th>
                <th>CityClub</th>
                <th>LogoClub</th>
                <th>DescriptionClub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil_club in profil_clubs %}
            <tr>
                <td>{{ profil_club.id }}</td>
                <td>{{ profil_club.nameClub }}</td>
                <td>{{ profil_club.cityClub }}</td>
                <td>{{ profil_club.logoClub }}</td>
                <td>{{ profil_club.descriptionClub }}</td>
                <td>
                    <a href="{{ path('profil_club_show', {'id': profil_club.id}) }}">show</a>
                    <a href="{{ path('profil_club_edit', {'id': profil_club.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profil_club_new') }}">Create new</a>
{% endblock %}
