{% extends 'base.html.twig' %}

{% block title %}ProfilClub{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}
{% block body %}
    {% include 'navbar/_navbar.html.twig' %}
    <div id="box-global">
        <section class="box-contain-info">
            <img src="{{ asset("build/images/logo_club.png")}}"  alt="{{ profil_club.nameClub }}">
            <article class="box-text">
                <h3>Mon nom</h3>
                <p>{{ profil_club.nameClub }}</p>
            </article>
        </section>
        <section class="box-contain-info">
            <img src="{{ asset("build/images/icon-profil-city.svg")}}"  alt="{{ profil_club.nameClub }}">
            <article class="box-text">
                <h3>Ma ville</h3>
                <p>{{ profil_club.cityClub }}</p>
            </article>
        </section>
        <section class="box-contain-info">
            <img src="{{ asset("build/images/icon-profil-biography.png")}}"  alt="{{ profil_club.nameClub }}">
            <article class="box-text">
            <h3>Ma description</h3>
            <p>{{ profil_club.descriptionClub }}</p>
            </article>
        </section >
        <section class="box-contain-info">
            <img src="{{ asset("build/images/icon-profil-security.svg")}}"  alt="{{ profil_club.nameClub }}">
            <article class="box-text">
            <h3>Sécurité</h3>
            <p>changer le mot de passe</p>
            </article>
        </section>
    </div>
    <a href="{{ path('profil_club_index') }}">back to list</a>

    <a href="{{ path('profil_club_edit', {'id': profil_club.id}) }}">edit</a>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}