{% extends 'base.html.twig' %}

{% block title %}ProfilClub{% endblock %}

{% block body %}
    <h2>Mon profil</h2>
     <h3>Mon nom</h3>
                <p>{{  profil_club.nameClub }}</p>
                <h3>Ma ville</h3>
                <p>{{ profil_club.cityClub }}</p>
                <h3>Mon logo</h3>
                <p>{{ profil_club.logoClub }}</p>
                <h3>Ma description</h3>
                <p>{{ profil_club.descriptionClub }}</p>

    <a href="{{ path('profil_club_index') }}">back to list</a>

    <a href="{{ path('profil_club_edit', {'id': profil_club.id}) }}">edit</a>

{% endblock %}
