{% extends 'base.html.twig' %}

{% block title %}ProfilClub{% endblock %}
{% block stylesheets %}
    +     {{ parent('app') }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}
{% block body %}
    {% include 'navbar/_navbar.html.twig' %}
<main>
    {{ form_start(form) }}
    <div id="box-global">
        <section class="box-contain-info">
            <div class="btn-modify">
                <img class="img-pen" src="{{ asset("build/images/btn-modif.svg")}}" alt="picture pen">
            </div>
            <img src="/uploads/{{ profil_club.logoClub }}"  alt="{{ profil_club.nameClub }}">
            {{ form_widget(form.nameClub,{'attr':{'class':'box-form-update'}}) }}

            <article class="box-text">
                <h3>Mon nom</h3>
                <p>{{ profil_club.nameClub }}</p>
            </article>
        </section>

        <section class="box-contain-info">
            <div class="btn-modify">
                <img class="img-pen" src="{{ asset("build/images/btn-modif.svg")}}" alt="picture pen">
            </div>
            <img src="{{ asset("build/images/icon-profil-city.svg")}}"  alt="{{ profil_club.nameClub }}">
            {{ form_widget(form.cityClub,{'attr':{'class':'box-form-update'}}) }}

            <article  class="box-text">
                <h3>Ma ville</h3>
                <p>{{ profil_club.cityClub }}</p>
            </article>
        </section>

        <section class="box-contain-info">
            <div class="btn-modify">
                <img class="img-pen" src="{{ asset("build/images/btn-modif.svg")}}" alt="picture pen">
            </div>
            <img src="{{ asset("build/images/icon-profil-biography.png")}}"  alt="{{ profil_club.nameClub }}">
            {{ form_widget(form.descriptionClub,{'attr':{'class':'box-form-update'}}) }}

            <article class="box-text">
                <h3>Ma description</h3>
                <p>{{ profil_club.descriptionClub }}</p>
            </article>
        </section >

        <section class="box-contain-info">
            <div class="btn-modify">
            <img class="img-pen" src="{{ asset("build/images/btn-modif.svg")}}" alt="picture pen">
            </div>
            <img src="{{ asset("build/images/icon-profil-security.svg")}}"  alt="{{ profil_club.nameClub }}">

            <article class="box-text">
                <h3>Sécurité</h3>
                <p>changer le mot de passe</p>
            </article>
        </section>
        <section id="logo-form">
            <h3>{{form_label(form.logoClub) }}</h3>
            {{ form_widget(form.logoClub) }}
        </section>
    {{ form_end(form) }}
        <section>

        <button class="btn-save">
            <img src="{{ asset("build/images/save.svg")}}"{{ button_label|default('Save') }}>
        </button>

        </section>
    </div>
</main>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}