{% extends 'club_chat/index.html.twig' %}

{% block greenBox %}
    <section class="green-box general-chat-section">
        <ul>
        <li><h1><img onclick="window.location.href='{{ path('club_chat') }}'" src="{{ asset('build/images/back-arrow-icon.svg') }}" alt="">Chat général</h1>
        </li>
            {% for message in messages %}

            {% if message.profilClub == app.user.profilClubs.owner.profilClubs.snapshot[0] %}
            <li class="general-chat-message">
                <span class="sentBy">
                    {% if message.profilSolo %}
                    {{ message.profilSolo.firstname }}
                    {% else %}
                    {{ message.profilClub.nameClub }}
                    {% endif %}
                </span>
                <p class="message">{{ message.contentMessage }}</p><span class="sentAt">[{{ message.dateMessage.format('d-m-Y') }}]</span>
            </li>
            {% endif %}
            {% endfor %}



        </ul>
        <form action="">
            <div class="input-message-bar">
                <input type="text" placeholder="Ecrivez votre message ...">
                <img src="{{ asset('build/images/send-message-icon.svg') }}" alt="">
            </div>
        </form>
    </section>
{% endblock greenBox %}
